P {
  color: #555;
  font-size: 20px;
  margin: 40px 20%;
}

:focus {
outline: 0;
}

#kribleShelf {
  position: fixed;
  bottom: 0px;
  left:0px;
  right:0px;
  height: 50px;
//  border: 1px solid red;
  text-align: center;
}

.shelf {
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  background-color: rgba(255,255,255,.97);
  color: #999;
  height: 50px;
//  padding:10px;
  box-shadow: 0 0 2px rgba(0,0,0,.44);
  width:100%;
  margin:0px auto;
}

.k-col-xs {
//    background-color: #ccc;
}

.shelf-item {
  //background-color: #aaa;
  margin:0px 10px;
  text-align:center;
  //display: block;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  vertical-align:middle;
  padding: 0px;
}


.shelf-item:hover {
  //background-color: #eee;
  cursor:pointer;
  color:#000;
}

.material-icons {
  font-size: 22px;
  line-height: 30px;
  display: inline-block;
  margin:10px;
  //border:1px solid red;
  //float:left;
  vertical-align:middle;
}

.end-xs .box {
 // border-left: 1px solid #D81B60;
}
.start-xs .box {
// border-right: 1px solid #D81B60;
}
.col-xs {
  /*padding-left: 0px;
  padding-right: 0px;*/
}

BUTTON {
  background: #fff;
  color: #01C544;
  height: 30px;
  text-transform: uppercase;
  border: 2px solid #01C544;
  font-size: 14px;
  border-radius: 40px;
  padding: 0px 20px;
  margin: 0px 5px;
  cursor: pointer;
}

.callback_num {
  background: #fff;
  height: 28px;
  width: 150px;
  text-transform: uppercase;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 40px;
  padding: 0px 10px;
  margin: 0px 5px;
  color: #666;
}

.active {
  background-color: #01C544;
  color: #fff;
}

.oval {
  border-radius: 30px;
  width:30px;
  height:30px;
}

.avatar {
  width: 30px;
  height: 30px;
  margin: 10px 0px;
  border-radius: 50%;
  vertical-align:top;
}

.shelf-item .avatar {
  margin: 10px;
}

.div {
  border-left: 1px solid #ddd;
  height:30px;
  width:1px;
  margin:10px 0px;
  //display: inline-block;
}

.start-xs .div  {
//  float: right;
}

.end-xs .div  {
//  float: left;
}

.line-2 {
  display: inline-block;
  height:30px;
  font-size:12px;
  line-height:15px;
  vertical-align:middle;
}


.close {
  float: right;
  cursor: pointer;
}

.bubble {
  width: 300px;
  height: 450px;
  position: absolute;
  bottom: 60px;
  z-index: 20;
  border-radius: 6px;
  background-color: rgba(250,250,250,.97);
  box-shadow: 0 0 2px rgba(0,0,0,.44);
  display: none;
  cursor: default;
  text-align: center;
}

.bubble::before{
    content: '';
    position: absolute;
    left: 48%;
    bottom: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ccc;
    clear: both;
}

.bubble::after{
    content: '';
    position: absolute;
    left: 48%;
    bottom: -9px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff;
    clear: both;
}

#chat {
  right: 20px;
  text-transform: none;
}

#chat .body {
//  overflow-y: auto;
  //overflow-x: hidden;
}

#chat .footer {
  background-color: #fff;
  position: absolute;
  bottom:1px;
  height: 40px;
  width: calc(100% - 10px);
  box-shadow: 0 0 1px rgba(0,0,0,.44);
  margin: 5px;
  border-radius: 4px;
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: text;
  text-align: left;
}

#chat .copyright {
  position: absolute;
  bottom: 5px;
  font-size:10px;
  color:#ccc;
  text-align: center;
  width:100%;
  line-height:15px;
  text-transform: uppercase;
}

#chat .message {
  font-size: 12px;
  color: #666;
  margin:10px;
  line-height: 130%;
  padding:10px;
  box-sizing: border-box;
  border-radius: 10px;
}

#chat .income {
  background-color: #eee;
  color: #333;
  margin-left:20px;
  border-bottom-left-radius: 0px;
  text-align: left;
}

.income:after {
  content:"";
  position:absolute;
//  top:10px; /* value = - border-top-width - border-bottom-width */
  left:10px; /* controls horizontal position */
  border-width: 0 0 10px 10px; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#eee transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

#chat .outcome {
  background-color: #01C544;
  color: #fff;
  float:right;
  margin-right:20px;
  border-bottom-right-radius: 0px;
  text-align: left;
}

.outcome:after {
  content:"";
  position:absolute;
  //bottom:10px; /* value = - border-top-width - border-bottom-width */
  right:10px; /* controls horizontal position */
  border-width: 0 10px 10px 0; /* vary these values to change the angle of the vertex */
  border-style:solid;
  border-color:#01C544 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}


#chat .operator {
  margin: 40px;
  box-sizing: border-box;
  text-align: center;
}

#chat .operator .avatar {
  width: 100px;
  height: 100px;
}

#chat .operator .name {
  font-size: 18px;
  font-weight: 300;
  color: #999;
  line-height: 20px;
  margin-top: 10px;
}

#chat .operator .description {
  color: #999;
  font-weight: 300;
}

.copyright {
  width: 20px;
  height: 50px;
}

.about {
  font-size: 9px;
  display: block;
  position: absolute;
  bottom:9px;
  right: -16px;
  margin:10px;
  -webkit-transform: rotate(-90deg);
   -moz-transform: rotate(-90deg);
   -o-transform: rotate(-90deg);
   -ms-transform: rotate(-90deg);
   transform: rotate(-90deg);
   cursor: pointer;
}

.about:hover {
  color:#000;
}

.scrollup {
  border-right: 1px solid #eee;
  width: 32px;
  height: 30px;
  margin:10px 0px;
  cursor: pointer;
}
.scrollup .material-icons {
  margin: 2px 0px;
}

.scrollup:hover {
  color: #000;
}
